<!DOCTYPE html>
<html>
    <body>
        <header>
            <h1> Portfolio </h1>
        </header>
        <div id="main-Container">
            <div class=""><h2>Personal Detail </h2>
                <table>
                    <tr>
                        <th>Full Name :</th>
                        <td>Ajay Thakar</td>
                    </tr>
                    <tr>
                        <th>Address :</th>
                        <td>Maval, Pune</td>
                    </tr>
                    <tr>
                        <th>Pincode :</th>
                        <td>412106</td>
                    </tr>
                </table>   
            </div>
            <div class=""><h2>Skills</h2>
                <table>
                    <tr>
                        <th>Programing Languge :</th>
                        <td>C, C++, Java, Python, Javascript, HTMl, CSS</td>
                    </tr>
                    <tr>
                        <th>Tools :</th>
                        <td>Visual studio code, eclipse, informatica, Dbeaver, AWS </td>
                    </tr>
                    <tr>
                        <th>Database :</th>
                        <td>Mysql, Oracle, Redshift, Postgres</td>
                    </tr>
                    <tr>
                        <th>Languges :</th>
                        <td>Marathi, Hindi, English</td>
                    </tr>
                </table>

            </div>
            <div class=""><h2>Education</h2>
                <ul>
                    <li>Bachlore Engineer in Information technology</li>
                    <li>Diploma in Information Technology</li>
                </ul>
            </div>
            <div class=""><h2>Certification</h2>
                <ul>
                    <li>Begining with Python by microsoft </li>
                    <li>Python certification from Hacker Rank</li>
                    <li>AWS cloud practioner by Linkedin</li>
                </ul>
            </div>
            <div class=""><h2>Experience</h2>
                <ul>
                    <li>Tata consultuncy and technology
                        <ul><li>2.4 Years</li></ul>
                    </li>
                </ul>
            </div>
        </div>
        <footer>
            <img src='' alt='instagram'>
            <img src='' alt='Linkedin'>
        </footer>

    </body>
</html>
